<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bem vindo a outro arquivo Html</title>
    <link rel="stylesheet" href="/css/style.css"
</head>
<body>
    <h1>Bem vindo a outro Html</h1>
    <h2></h2>
   <p>Bem vinda de volta  <%=nome + " " + sobrenome%></p>

    <%  if(msg==true){%>
        <h2>Exibe a msg de erro</h2>
    <%}else{ %>
        <h2>Nenhum erro!</h2>
    <%} %>   

    <% categ.forEach(function(categ){%>
        <h4>Categoria/Dscrição: <%=categ.nome  + " " + categ.descricao%> </h4>  
        <hr>
        

    <%}) %>   
</body>
</html>