<%- include('partials/header.ejs') %>
<body>
    <%- include('partials/navbar.ejs') %>
    <h1>You are on the main page</h1>
    <a href="/question">Go back to include question</a>
</body>
<%- include('partials/footer.ejs') %>