<%- include('partials/header.ejs') %>
<body>
    <%- include('partials/navbar.ejs') %>

    <div class="container">

    <div class = "card" id="form-ask"> 

        <div class="card-header">
            <h5>Ask your question </h5>
        </div>

        <div class = "card-body">
            <form>
                <label>Title</label>
                <input type="text" placeholder="Title" class="form-control">
                <label>Description</label>
                <textarea placeholder="describe your question here" class="form-control"></textarea>
                <br>
                <button class="btn btn-primary">To ask</button>

            </form>
        </div>

    </div>

    </div>

</body>
<%- include('partials/footer.ejs') %>